<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
</head>
<body>

<main class="main">
  <div class="card">
    <h2>Login Form</h2>
    

        <!-- SE CONNECTER / S'INSCRIRE -->
    <div class="login_register">
        <a  class="login" target="blank">Login</a>
        <a href="
" class="register" target="blank">Signup</a>
    </div>

        <!-- FORMULAIRE -->
    <form class="form">
        <input type="email" placeholder="Email Adress" class="email">
        <input type="password" placeholder="password" class="pass">
    </form>

        <!-- MOT DE PASSE OUBLIE ? -->
    <a href="#" class="fp">Forgot password?</a>

        <!-- BOUTTON LOGIN -->
        <a  routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button type="button" class="login_btn">Login</button>
      </a>
        <!-- PIED DE LA CARD -->
    <div class="footer_card">
    <p>Not a member?</p>
    <a href="#">Signup now</a>
    </div>
</div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
